
$grey: grey;
$grey_dark: #585f69;
$grey_light: #D1D1D1;

/*$green: #60c160;
$green_dark: #4ea74e;
$green_light: #5AFF5A;*/

$green: #e74c3c;
$green_dark: #E02D00;
$green_light: #ec5242;

/*Mixins*/

@mixin text_hide{
	font-size: 0;
	text-indent: -100%;
	text-transform: uppercase;
}

/*Common Colors*/

.img-width-200 { width:200px;}

/*Block headline*/

.heading {
	padding:5px 20px 5px 20px;
	border-left:4px solid #27c5f2; 
}

.headline {
	display:block;
	margin:10px 0 25px 0;
	border-bottom:1px dotted #e4e9f0;
}

.pull-lft { text-align:left;}
.pull-rgt { text-align:right;}

.rgt-img-margin { margin:4px 0 5px 8px;}
.lft-img-margin { margin:5px 20px 5px 0;}
