
/*blackandwhite*/

.blackandwhite{
    #logo img{
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

.blue{
	$blue: #298CF8;
	$blue_dark: #006ADD;
	$blue_light: #298CF8;

	#main_header{ background-color: $blue; }

	&.not-front .page_title_wrapper{ background-color: $blue; }
	&.not-front .page_title_wrapper .breadcrumb{ background-color: $blue_light; }

	.default_btn{ background-color: $blue; }

	blockquote{ border-color: $blue; }

	.color-green{ color: $blue; }

	a{ color: $blue; &:hover{ color:$blue_dark; } }

	#block-search-form .form-submit{ background-color: $blue; }

	#block-search-form .form-submit:hover{ background-color: $blue_dark;}

	footer.main a{ color: $blue_light; &:hover{ color: $blue_dark; }}

	.default_btn:hover, .default_btn:focus, 
	.default_btn:active, .default_btn.active, .default_btn.disabled, .default_btn[disabled]{
		background-color: $blue_dark;
		a { color: #fff; }
	}

	.tbl-pricing .column.column-recommended .tbl-header{ background-color: $blue; }

	.tbl-pricing .column.column-recommended{ border-color: $blue; }

	.show-grid:hover{ background-color: $blue; }

	aside .menu a:hover, aside .menu .active-trail a{ background-color: $blue; }

	input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"]{
		background: $blue;
	}

	input[type="file"]:hover, input[type="image"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover:hover, input[type="radio"]:hover, input[type="checkbox"]:hover{
		background: $blue_dark;
	}

	&.page-gallery .view .views-field-field-gallery-image-1 a{ background-color: $blue; }

	.view-portfolio .views-row .views-field-view-node a:hover, 
	.view-portfolio .views-row .views-field-field-porfolio-image-1 a:hover{
		background-color: $blue;
	}


	#portfolio-wrapper{ background-color: #005BBE; }
	footer.main{ background-color: #002042; }
	#copyright{ background-color: #021325; }
}

.green{
	$greens: #026302;
	$greens_dark: #015001;
	$greens_light: #018801;

	#main_header{ background-color: $greens; }

	&.not-front .page_title_wrapper{ background-color: $greens; }
	&.not-front .page_title_wrapper .breadcrumb{ background-color: $greens_light; }

	.default_btn{ background-color: $greens; }

	blockquote{ border-color: $greens; }

	.color-greens{ color: $greens; }

	a{ color: $greens; &:hover{ color: #1FE21F; } }

	#block-search-form .form-submit{ background-color: $greens; }

	#block-search-form .form-submit:hover{ background-color: $greens_dark;}

	footer.main a{ color: #1FE21F; &:hover{ color: $greens_light; }}

	.default_btn:hover, .default_btn:focus, 
	.default_btn:active, .default_btn.active, .default_btn.disabled, .default_btn[disabled]{
		background-color: $greens_dark;
		a { color: #fff; }
	}

	.tbl-pricing .column.column-recommended .tbl-header{ background-color: $greens; }

	.tbl-pricing .column.column-recommended{ border-color: $greens; }

	.show-grid:hover{ background-color: $greens; }

	aside .menu a:hover, aside .menu .active-trail a{ background-color: $greens; }

	input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"]{
		background: $greens;
	}

	input[type="file"]:hover, input[type="image"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover:hover, input[type="radio"]:hover, input[type="checkbox"]:hover{
		background: $greens_dark;
	}

	&.page-gallery .view .views-field-field-gallery-image-1 a{ background-color: $greens; }

	.view-portfolio .views-row .views-field-view-node a:hover, 
	.view-portfolio .views-row .views-field-field-porfolio-image-1 a:hover{
		background-color: $greens;
	}

	#portfolio-wrapper{ background-color: #00BD00; }
	footer.main{ background-color: #013C01; }
	#copyright{ background-color: #002900; }
}

.red{
	$red: #F00;
	$red_dark: #D10000;
	$red_light: #FC3D3D;

	#main_header{ background-color: $red; }

	&.not-front .page_title_wrapper{ background-color: $red; }
	&.not-front .page_title_wrapper .breadcrumb{ background-color: $red_light; }

	.default_btn{ background-color: $red; }

	blockquote{ border-color: $red; }

	.color-red{ color: $red; }

	a{ color: $red; &:hover{ color:$red_dark; } }

	#block-search-form .form-submit{ background-color: $red; }

	#block-search-form .form-submit:hover{ background-color: $red_dark;}

	footer.main a{ color: $red_light; &:hover{ color: $red_dark; }}

	.default_btn:hover, .default_btn:focus, 
	.default_btn:active, .default_btn.active, .default_btn.disabled, .default_btn[disabled]{
		background-color: $red_dark;
		a { color: #fff; }
	}

	.tbl-pricing .column.column-recommended .tbl-header{ background-color: $red; }

	.tbl-pricing .column.column-recommended{ border-color: $red; }

	.show-grid:hover{ background-color: $red; }

	aside .menu a:hover, aside .menu .active-trail a{ background-color: $red; }

	input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"]{
		background: $red;
	}

	input[type="file"]:hover, input[type="image"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover:hover, input[type="radio"]:hover, input[type="checkbox"]:hover{
		background: $red_dark;
	}

	&.page-gallery .view .views-field-field-gallery-image-1 a{ background-color: $red; }

	.view-portfolio .views-row .views-field-view-node a:hover, 
	.view-portfolio .views-row .views-field-field-porfolio-image-1 a:hover{
		background-color: $red;
	}

	#portfolio-wrapper{ background-color: #B40000; }
	footer.main{ background-color: #850000; }
	#copyright{ background-color: #4B0000; }
}