@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*@import url(https://weloveiconfonts.com/api/?family=brandico|entypo|fontawesome|fontelico|maki|openwebicons|typicons|zocial);*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
/* brandico */
[class*="brandico-"]:before {
  font-family: "brandico", sans-serif; }

/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif; }

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif; }

/* fontelico */
[class*="fontelico-"]:before {
  font-family: "fontelico", sans-serif; }

/* maki */
[class*="maki-"]:before {
  font-family: "maki", sans-serif; }

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: "OpenWeb Icons", sans-serif; }

/* typicons */
[class*="typicons-"]:before {
  font-family: "Typicons", sans-serif; }

/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif; }

/*$green: #60c160;
$green_dark: #4ea74e;
$green_light: #5AFF5A;*/
/*Mixins*/
/*Common Colors*/
.img-width-200 {
  width: 200px; }

/*Block headline*/
.heading {
  padding: 5px 20px 5px 20px;
  border-left: 4px solid #27c5f2; }

.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0; }

.pull-lft {
  text-align: left; }

.pull-rgt {
  text-align: right; }

.rgt-img-margin {
  margin: 4px 0 5px 8px; }

.lft-img-margin {
  margin: 5px 20px 5px 0; }

/*blackandwhite*/
.blackandwhite #logo img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%); }

.blue #main_header {
  background-color: #298cf8; }
.blue.not-front .page_title_wrapper {
  background-color: #298cf8; }
.blue.not-front .page_title_wrapper .breadcrumb {
  background-color: #298cf8; }
.blue .default_btn {
  background-color: #298cf8; }
.blue blockquote {
  border-color: #298cf8; }
.blue .color-green {
  color: #298cf8; }
.blue a {
  color: #298cf8; }
  .blue a:hover {
    color: #006add; }
.blue #block-search-form .form-submit {
  background-color: #298cf8; }
.blue #block-search-form .form-submit:hover {
  background-color: #006add; }
.blue footer.main a {
  color: #298cf8; }
  .blue footer.main a:hover {
    color: #006add; }
.blue .default_btn:hover, .blue .default_btn:focus,
.blue .default_btn:active, .blue .default_btn.active, .blue .default_btn.disabled, .blue .default_btn[disabled] {
  background-color: #006add; }
  .blue .default_btn:hover a, .blue .default_btn:focus a,
  .blue .default_btn:active a, .blue .default_btn.active a, .blue .default_btn.disabled a, .blue .default_btn[disabled] a {
    color: #fff; }
.blue .tbl-pricing .column.column-recommended .tbl-header {
  background-color: #298cf8; }
.blue .tbl-pricing .column.column-recommended {
  border-color: #298cf8; }
.blue .show-grid:hover {
  background-color: #298cf8; }
.blue aside .menu a:hover, .blue aside .menu .active-trail a {
  background-color: #298cf8; }
.blue input[type="file"], .blue input[type="image"], .blue input[type="submit"], .blue input[type="reset"], .blue input[type="button"], .blue input[type="radio"], .blue input[type="checkbox"] {
  background: #298cf8; }
.blue input[type="file"]:hover, .blue input[type="image"]:hover, .blue input[type="submit"]:hover, .blue input[type="reset"]:hover, .blue input[type="button"]:hover:hover, .blue input[type="radio"]:hover, .blue input[type="checkbox"]:hover {
  background: #006add; }
.blue.page-gallery .view .views-field-field-gallery-image-1 a {
  background-color: #298cf8; }
.blue .view-portfolio .views-row .views-field-view-node a:hover,
.blue .view-portfolio .views-row .views-field-field-porfolio-image-1 a:hover {
  background-color: #298cf8; }
.blue #portfolio-wrapper {
  background-color: #005BBE; }
.blue footer.main {
  background-color: #002042; }
.blue #copyright {
  background-color: #021325; }

.green #main_header {
  background-color: #026302; }
.green.not-front .page_title_wrapper {
  background-color: #026302; }
.green.not-front .page_title_wrapper .breadcrumb {
  background-color: #018801; }
.green .default_btn {
  background-color: #026302; }
.green blockquote {
  border-color: #026302; }
.green .color-greens {
  color: #026302; }
.green a {
  color: #026302; }
  .green a:hover {
    color: #1FE21F; }
.green #block-search-form .form-submit {
  background-color: #026302; }
.green #block-search-form .form-submit:hover {
  background-color: #015001; }
.green footer.main a {
  color: #1FE21F; }
  .green footer.main a:hover {
    color: #018801; }
.green .default_btn:hover, .green .default_btn:focus,
.green .default_btn:active, .green .default_btn.active, .green .default_btn.disabled, .green .default_btn[disabled] {
  background-color: #015001; }
  .green .default_btn:hover a, .green .default_btn:focus a,
  .green .default_btn:active a, .green .default_btn.active a, .green .default_btn.disabled a, .green .default_btn[disabled] a {
    color: #fff; }
.green .tbl-pricing .column.column-recommended .tbl-header {
  background-color: #026302; }
.green .tbl-pricing .column.column-recommended {
  border-color: #026302; }
.green .show-grid:hover {
  background-color: #026302; }
.green aside .menu a:hover, .green aside .menu .active-trail a {
  background-color: #026302; }
.green input[type="file"], .green input[type="image"], .green input[type="submit"], .green input[type="reset"], .green input[type="button"], .green input[type="radio"], .green input[type="checkbox"] {
  background: #026302; }
.green input[type="file"]:hover, .green input[type="image"]:hover, .green input[type="submit"]:hover, .green input[type="reset"]:hover, .green input[type="button"]:hover:hover, .green input[type="radio"]:hover, .green input[type="checkbox"]:hover {
  background: #015001; }
.green.page-gallery .view .views-field-field-gallery-image-1 a {
  background-color: #026302; }
.green .view-portfolio .views-row .views-field-view-node a:hover,
.green .view-portfolio .views-row .views-field-field-porfolio-image-1 a:hover {
  background-color: #026302; }
.green #portfolio-wrapper {
  background-color: #00BD00; }
.green footer.main {
  background-color: #013C01; }
.green #copyright {
  background-color: #002900; }

.red #main_header {
  background-color: red; }
.red.not-front .page_title_wrapper {
  background-color: red; }
.red.not-front .page_title_wrapper .breadcrumb {
  background-color: #fc3d3d; }
.red .default_btn {
  background-color: red; }
.red blockquote {
  border-color: red; }
.red .color-red {
  color: red; }
.red a {
  color: red; }
  .red a:hover {
    color: #d10000; }
.red #block-search-form .form-submit {
  background-color: red; }
.red #block-search-form .form-submit:hover {
  background-color: #d10000; }
.red footer.main a {
  color: #fc3d3d; }
  .red footer.main a:hover {
    color: #d10000; }
.red .default_btn:hover, .red .default_btn:focus,
.red .default_btn:active, .red .default_btn.active, .red .default_btn.disabled, .red .default_btn[disabled] {
  background-color: #d10000; }
  .red .default_btn:hover a, .red .default_btn:focus a,
  .red .default_btn:active a, .red .default_btn.active a, .red .default_btn.disabled a, .red .default_btn[disabled] a {
    color: #fff; }
.red .tbl-pricing .column.column-recommended .tbl-header {
  background-color: red; }
.red .tbl-pricing .column.column-recommended {
  border-color: red; }
.red .show-grid:hover {
  background-color: red; }
.red aside .menu a:hover, .red aside .menu .active-trail a {
  background-color: red; }
.red input[type="file"], .red input[type="image"], .red input[type="submit"], .red input[type="reset"], .red input[type="button"], .red input[type="radio"], .red input[type="checkbox"] {
  background: red; }
.red input[type="file"]:hover, .red input[type="image"]:hover, .red input[type="submit"]:hover, .red input[type="reset"]:hover, .red input[type="button"]:hover:hover, .red input[type="radio"]:hover, .red input[type="checkbox"]:hover {
  background: #d10000; }
.red.page-gallery .view .views-field-field-gallery-image-1 a {
  background-color: red; }
.red .view-portfolio .views-row .views-field-view-node a:hover,
.red .view-portfolio .views-row .views-field-field-porfolio-image-1 a:hover {
  background-color: red; }
.red #portfolio-wrapper {
  background-color: #B40000; }
.red footer.main {
  background-color: #850000; }
.red #copyright {
  background-color: #4B0000; }

#main_content {
  display: inline;
  margin-bottom: 2.7%;
  float: right;
  width: 100%; }

#sidebar-first {
  color: #888;
  float: left; }

#sidebar-second {
  color: #888;
  float: right; }

aside .block {
  padding: 0.5em 1em;
  margin-bottom: 5px; }

#sidebar-first {
  color: #888;
  float: left; }

#sidebar-second {
  color: #888;
  float: right; }

/* 3 columns */
body.two-sidebars .content-sidebar-wrap {
  width: 78%; }

body.two-sidebars #main_content {
  width: 52%;
  float: left; }

body.two-sidebars #sidebar-first {
  width: 22%;
  margin-right: 1.5em; }

body.two-sidebars #sidebar-second {
  width: 22%;
  margin-left: 1.5em; }

/* 2 columns: sidebar-first */
body.sidebar-first .content-sidebar-wrap {
  width: 100%; }

body.sidebar-first #main_content {
  width: 76%; }

body.sidebar-first #sidebar-first {
  width: 22%;
  margin-right: 1.5em; }

/* 2 columns: sidebar-second */
body.sidebar-second #main_content {
  width: 76%;
  float: left; }

body.sidebar-second #sidebar-second {
  width: 22%;
  float: right;
  margin-left: 1.5em; }

.show-grid {
  background-color: #d1d1d1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #323a45;
  font-size: 13px;
  line-height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  min-height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
  -moz-transition: background 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
  -o-transition: background 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
  transition: background 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s; }

.show-grid:hover {
  background-color: #e74c3c; }

/* overwrite css*/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -moz-box-shadow: 0 0 0 2px #faf9f9, inset 0 0 5px 2px #faf9f9;
  -webkit-box-shadow: 0 0 0 2px #faf9f9, inset 0 0 5px 2px #faf9f9;
  box-shadow: 0 0 0 2px #faf9f9, inset 0 0 5px 2px #faf9f9;
  border-radius: 0; }

blockquote {
  padding: 8px 8px 8px 15px;
  margin: 0 0 20px;
  border-left: 5px solid #e74c3c;
  background: #F8F8F8;
  font-size: 13px;
  color: #8D8D8D; }

label {
  font-size: 13px;
  font-weight: normal;
  line-height: 12px; }

input, button, select, textarea {
  font-size: 13px;
  font-weight: normal; }

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  color: #FFF;
  border: 0;
  padding: 5px 10px;
  background: #e74c3c; }

input[type="file"]:hover,
input[type="image"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover {
  background: #e02d00; }

select, input[type="file"] {
  height: auto; }

ul.list {
  margin: 0; }
  ul.list li {
    background: url(../images/bullet-list.png) center left no-repeat;
    list-style: none;
    padding-left: 15px; }

p.summary {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px; }

.carousel-control {
  background: none;
  border: none;
  font-size: 5em; }

blockquote p {
  font-size: 1em; }

a {
  color: #e74c3c; }
  a:hover {
    color: #e02d00;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: #333;
  letter-spacing: -1px;
  font-weight: normal; }

dt, dd {
  line-height: 16px; }

.accordion-group {
  background: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 5px; }

.accordion-heading {
  font-size: 13px;
  color: #333333;
  text-shadow: none;
  background-color: #fbfbfb;
  background-image: none;
  background-repeat: repeat-x;
  border: 1px solid #e9e9e9;
  border-color: none; }

.accordion-heading a {
  color: #333333;
  font-weight: 600;
  outline: 0; }

.accordion-heading a:hover, .accordion-heading a.active:hover, .accordion-heading a.active {
  text-decoration: none; }

.accordion-inner {
  margin-top: 1px;
  background: #fff;
  border: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9; }

.nav-tabs {
  margin: 0;
  position: relative;
  z-index: 99;
  bottom: -1px; }

.tab-content {
  border: 1px solid #dddddd;
  padding: 10px;
  position: relative; }

.nav-tabs > li:first-child {
  border-left: 1px solid #dddddd; }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  border-left: 0; }

.nav-tabs > li > a {
  border-width: 1px 1px 0 0;
  margin: 0;
  border-style: solid;
  border-color: #DDD;
  border-radius: 0;
  background: #FAFAFA;
  color: #888; }

.tabs-left > .nav-tabs {
  margin: 0;
  left: 1px;
  border: 0;
  top: 0; }

.tabs-left > .nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0; }

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
  border-color: #dddddd transparent transparent #dddddd;
  /*border-left: 1px solid #ddd;*/ }

.tabs-left > .nav-tabs > li {
  border-left: 1px solid #dddddd; }

.tabs-left > .nav-tabs > li {
  border-bottom: 1px solid #dddddd; }

.tabs-right > .nav-tabs {
  margin: 0;
  left: -1px;
  border: 0;
  top: 0; }

.tabs-right > .nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0; }

.tabs-right > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
  border-color: #dddddd #dddddd rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  /*border-left: 1px solid #ddd;*/ }

.tabs-right .nav-tabs > li a {
  border-left: 1px solid #dddddd; }

.tabs-right > .nav-tabs > li:first-child {
  border: 0; }

.tabs-right > .nav-tabs > li {
  border-bottom: 1px solid #dddddd; }

.tabs-right > .nav-tabs .active > a:hover {
  border-left: 1px solid transparent; }

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #dddddd #dddddd transparent transparent; }

.nav > li > a:hover, .nav > li > a:focus {
  background: #FAFAFA; }

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border-color: #dddddd #dddddd #dddddd; }

.accordion-heading a {
  font-weight: normal; }

.custom .accordion-heading .accordion-toggle {
  padding: 0;
  color: #444;
  font-weight: normal; }

.custom .accordion-heading .accordion-toggle i {
  padding: 11px 14px 10px 14px;
  border-right: 1px solid #dddddd;
  margin-right: 11px;
  color: #999;
  font-size: 12px; }

.alert {
  padding: 12px 35px 12px 14px; }

/* Sidenav for Docs
-------------------------------------------------- */
.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065); }

.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5; }

.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0; }

.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px; }

.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1); }

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background: #e74c3c; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #777;
  padding: 0;
  font-size: 14px;
  line-height: 1.4em;
  font-family: "Titillium Web", sans-serif; }

i {
  font-style: normal; }

/*Header tags*/
h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3em; }

.color-green {
  color: #e74c3c; }

.top_header {
  color: grey; }

#logo {
  float: left;
  margin: 10px 12px; }

#main-menu {
  float: right; }

#main-menu .nav-toggle {
  display: none; }

#main-menu a.nav-toggle {
  padding: 11px 16px;
  color: #DBD6D6;
  margin: 10px 0 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #4D4C4C;
  line-height: 100%;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 50%, black 52%, #111111 60%, #1c1c1c 91%, #131313 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(50%, #2c2c2c), color-stop(52%, black), color-stop(60%, #111111), color-stop(91%, #1c1c1c), color-stop(100%, #131313));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #2c2c2c 50%, black 52%, #111111 60%, #1c1c1c 91%, #131313 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4c4c4c 0%, #2c2c2c 50%, black 52%, #111111 60%, #1c1c1c 91%, #131313 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4c4c4c 0%, #2c2c2c 50%, black 52%, #111111 60%, #1c1c1c 91%, #131313 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4c4c4c 0%, #2c2c2c 50%, #000000 52%, #111111 60%, #1c1c1c 91%, #131313 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  /* IE6-9 */ }
  #main-menu a.nav-toggle i {
    float: right; }

.nav-toggle {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #757272; }

.drop-down-toggle {
  position: absolute;
  top: 7px;
  right: 16px;
  display: none;
  width: 20px;
  height: 20px;
  background: #333;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: -moz-linear-gradient(#333333, #444444);
  background: -webkit-linear-gradient(#333333, #444444);
  background: -o-linear-gradient(#333333, #444444);
  background: -ms-linear-gradient(#333333, #444444);
  background: linear-gradient(#333333, #444444);
  border: grey 2px solid; }

.drop-down-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 7px 0 0 4px;
  border-top: 4px solid white;
  border-left: transparent 4px solid;
  border-right: transparent 4px solid; }

/*Menu*/
#main-menu {
  margin: 0; }
  #main-menu ul {
    margin: 0; }
  #main-menu li {
    float: left;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: none; }
    #main-menu li:hover a, #main-menu li a:hover, #main-menu li a.active {
      background: #E7E6E6; }
    #main-menu li:hover ul {
      z-index: 999; }
  #main-menu a {
    padding: 17px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    letter-spacing: -1px;
    padding: 22px 16px;
    color: #707070;
    font-size: 14px; }
  #main-menu .expanded {
    position: relative; }
    #main-menu .expanded ul {
      position: absolute;
      display: none;
      margin: 0; }
      #main-menu .expanded ul ul {
        left: 101%;
        top: 0; }
    #main-menu .expanded li:hover {
      background: #000; }
    #main-menu .expanded li a {
      background: rgba(31, 31, 31, 0.8);
      color: grey;
      font-size: 13px;
      padding: 10px;
      width: 160px;
      border-right: 0;
      border-bottom: 1px dotted #585f69; }
      #main-menu .expanded li a:hover {
        color: #fff; }
    #main-menu .expanded li.last > a {
      border: 0; }

/*Side Menu*/
aside .menu {
  margin: 0; }
  aside .menu li {
    list-style: none;
    padding: 0; }
  aside .menu a {
    display: block;
    padding: 5px 5px 5px 15px;
    border-bottom: 1px dotted #dddddd;
    background: url(../images/bullet-list.png) 1px center no-repeat; }
  aside .menu a:hover,
  aside .menu .active-trail a {
    color: #fff;
    background-color: #e74c3c; }

/*Social Profile*/
.social-profile {
  text-align: center;
  margin: 30px 0; }
  .social-profile ul {
    margin: 0; }
  .social-profile li {
    display: inline-block;
    margin: 0 1px; }
    .social-profile li a {
      font-size: 0;
      text-indent: -100%;
      text-transform: uppercase;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      width: 48px;
      height: 48px;
      display: block;
      background: url(../images/social-icons/social-icons.png) 0px -156px; }
      .social-profile li a:hover {
        background-position: 0 0px; }
    .social-profile li.twitter a {
      background-position: -54px -156px; }
      .social-profile li.twitter a:hover {
        background-position: -54px 0; }
    .social-profile li.linkedin a {
      background-position: -109px -156px; }
      .social-profile li.linkedin a:hover {
        background-position: -109px 0; }
    .social-profile li.google-plus a {
      background-position: -162px -156px; }
      .social-profile li.google-plus a:hover {
        background-position: -162px 0; }
    .social-profile li.dribbble a {
      background-position: -217px -156px; }
      .social-profile li.dribbble a:hover {
        background-position: -217px 0; }
    .social-profile li.pinterest a {
      background-position: -270px -156px; }
      .social-profile li.pinterest a:hover {
        background-position: -270px 0; }
    .social-profile li.tumblr a {
      background-position: -325px -156px; }
      .social-profile li.tumblr a:hover {
        background-position: -325px 0; }
    .social-profile li.vimeo a {
      background-position: -378px -156px; }
      .social-profile li.vimeo a:hover {
        background-position: -378px 0; }
    .social-profile li.youtube a {
      background-position: -432px -156px; }
      .social-profile li.youtube a:hover {
        background-position: -432px 0; }
    .social-profile li.flicker a {
      background-position: -487px -156px; }
      .social-profile li.flicker a:hover {
        background-position: -487px 0; }
    .social-profile li.rss a {
      background-position: -541px -156px; }
      .social-profile li.rss a:hover {
        background-position: -541px 0; }

/*Banner*/
#main_header {
  background: #e74c3c url(../images/speed-meter-image.png) 5% -10% no-repeat;
  color: #fff;
  padding: 15px 0 0 0;
  position: relative;
  background-size: 52%; }
  #main_header h1 {
    text-shadow: -1px 1px 9px #3f3f3f; }
  #main_header p {
    color: #ddd; }

.region-slideshow .carousel {
  margin-bottom: 0; }
.region-slideshow i {
  color: #fff; }

.search {
  width: 100%;
  overflow: hidden; }
  .search .region-search {
    max-width: 1100px;
    margin: 0 auto; }
  .search .item {
    display: inline-block;
    margin: 10px 28px; }
  .search img {
    opacity: .8;
    cursor: pointer; }
    .search img:hover {
      opacity: 0.1; }

/*Top block*/
.top_block {
  text-align: center;
  margin: 1em auto 2em auto; }
  .top_block i {
    font-size: 56px;
    text-align: center;
    display: block;
    width: 126px;
    height: 126px;
    line-height: 180%;
    margin: 0 auto -25px;
    border: 10px double white;
    margin-bottom: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .top_block .span3 {
    border-left: 1px solid #f1f1f1;
    padding: 0 15px; }
    .top_block .span3:first-child {
      border: 0; }
    .top_block .span3:hover i {
      color: #e74c3c; }

/*Content*/
.not-front .page_title_wrapper {
  margin-bottom: 2em;
  border-bottom: 2px solid white;
  background: #e74c3c url(../images/top_header.png); }
  .not-front .page_title_wrapper h1 {
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px; }
  .not-front .page_title_wrapper .breadcrumb {
    float: right;
    margin: 16px 0;
    padding: 5px 13px;
    font-size: 13px;
    background: #e74c3c;
    color: #FFF; }
    .not-front .page_title_wrapper .breadcrumb a {
      color: #CACACA; }
    .not-front .page_title_wrapper .breadcrumb > .active {
      color: #CACACA; }

/*Recent Blog*/
#block-blog-recent li {
  list-style: none;
  padding: 0;
  margin: 0; }
  #block-blog-recent li:first-child a {
    border-top: 1px dotted grey; }
  #block-blog-recent li a {
    padding: 9px;
    display: block;
    font-size: 14px;
    border-bottom: 1px dotted grey; }

/*Blog*/
.node-blog:last-child {
  border: 0;
  padding-bottom: 0; }
.node-blog img {
  width: 100%;
  border: 5px solid #d1d1d1; }
.node-blog .field-name-body {
  margin: 15px 0; }

article.node-blog {
  margin-bottom: 20px;
  padding-bottom: 35px;
  border-bottom: 1px dotted #d1d1d1; }
  article.node-blog .field-name-field-blog-image {
    clear: both;
    position: relative;
    overflow: hidden; }
  article.node-blog img {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    background: red; }
    article.node-blog img:hover {
      -webkit-transform: scale(2);
      -moz-transform: scale(2);
      -o-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2); }

.field-name-field-blog-tags .field-item {
  display: inline-block; }
  .field-name-field-blog-tags .field-item a {
    display: block;
    padding: 2px 9px;
    color: #696666;
    background: #E7E3E3;
    margin: 0 5px 10px 0;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    .field-name-field-blog-tags .field-item a:hover {
      background: #e74c3c;
      color: #fff; }

.submitted {
  padding: 2px 10px;
  display: inline-block;
  background: #E9E9E9;
  color: #919191;
  margin-bottom: 5px;
  float: left;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

#comments .attribution {
  overflow: hidden;
  float: left;
  width: 16%;
  overflow: hidden;
  text-align: center; }
#comments .user-picture img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%; }
#comments .username {
  font-weight: bold;
  font-size: 14px; }
#comments .comment-submitted {
  margin-top: 10px; }
  #comments .comment-submitted p {
    margin: 0; }
#comments .comment-time {
  font-size: 11px; }
#comments .comment-text {
  position: relative;
  float: right;
  width: 82%;
  border: 1px solid #dddddd;
  margin: 10px 0 20px 0;
  padding: 15px; }
  #comments .comment-text h3 {
    margin: 0 0 10px 0;
    line-height: 100%; }
  #comments .comment-text:after {
    content: "";
    border-width: 13px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    position: absolute;
    left: -25px;
    top: 15px; }
  #comments .comment-text:before {
    content: "";
    border-width: 14px;
    border-style: solid;
    border-color: transparent #dddddd transparent transparent;
    position: absolute;
    left: -28px;
    top: 14px; }

.indented {
  margin-left: 10%; }

.comment, .indented {
  margin-top: 3%;
  margin-bottom: 3%; }

/*Footer*/
footer.main {
  padding: 20px 10px;
  background: #381c10 url(../images/speed-meter-footer.png) no-repeat bottom right;
  color: #A0A0A0;
  border-top: 1px solid white;
  margin-top: 20px;
  background-size: 25%; }
  footer.main i {
    padding-right: .5em; }
  footer.main h2 {
    color: #fff;
    font-size: 18px; }
  footer.main a {
    color: #ec5242; }
    footer.main a:hover {
      color: #e74c3c; }
  footer.main ul {
    margin: 0; }
    footer.main ul li {
      list-style: none;
      margin: 0; }

#block-comment-recent li {
  border-bottom: 1px dotted grey;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  #block-comment-recent li span {
    display: block;
    color: #919191;
    font-size: 12px;
    font-weight: bold; }
  #block-comment-recent li:last-child {
    border: 0; }

#myCarousel .content-left {
  margin: 2% 7%;
  color: #fff; }

#myCarousel h2 {
  color: #fff;
  padding: 10px;
  font-size: 38px;
  background: rgba(0, 0, 0, 0.4);
  line-height: 130%;
  padding: 15px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

#myCarousel .content-left p {
  line-height: 16px;
  padding: 10px; }

#myCarousel .content-right {
  margin: 2% 7%;
  color: #fff; }

#myCarousel .content-right h2 {
  color: #fff;
  padding: 10px;
  font-size: 29px; }

#myCarousel .content-right p {
  line-height: 16px;
  padding: 10px; }

#featurebox {
  border: solid 1px #ebebeb;
  background: #ffffff; }

#featurebox .fbox {
  margin: 40px;
  position: relative;
  text-align: center; }

#featurebox .fbox .ficon {
  margin: 0 auto;
  background-color: #98bf21;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  border: 10px double white; }

#featurebox .fbox .ficon i {
  color: #fff;
  font-size: 40px;
  font-size: 4rem;
  line-height: 80px; }

#myCarousel .slider_content p {
  font-size: 18px;
  line-height: 120%; }

#myCarousel button {
  background: #029202;
  font-size: 17px;
  padding: 9px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: none; }

/* Portfolio */
#map iframe {
  width: 100%; }

#copyright {
  color: #FFF;
  font-size: 12px;
  padding: 5px 10px;
  background: #170802;
  border-top: solid 1px #353535;
  -webkit-box-shadow: 0px 21px 41px -5px #020202;
  -moz-box-shadow: 0px 21px 41px -5px #020202;
  box-shadow: 0px 21px 41px -5px #020202;
  overflow: visible;
  position: relative; }
  #copyright p {
    padding: 10px;
    margin: 0;
    font-size: 10px;
    color: #8f8888; }

/*Messages*/
.alert p {
  margin: 5px 0;
  line-height: 100%; }
.alert .close {
  top: 1px; }

.view-our-team [class*="span"]:first-child {
  margin-left: 0; }

.view-our-team .views-row {
  margin-bottom: 1.2em;
  text-align: center;
  background: #FDFDFD;
  padding: 5px 5px 15px 5px; }
  .view-our-team .views-row:hover {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .view-our-team .views-row:hover .views-field-field-profile-image img {
      opacity: .9;
      border: 5px solid #dddddd;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
.view-our-team .social_icons {
  display: inline-block; }
  .view-our-team .social_icons a {
    display: block;
    width: 33px;
    height: 33px;
    margin-right: 1px;
    font-size: 0;
    text-indent: -100%;
    text-transform: uppercase;
    background: url(../images/team_social_icon.png) -3px -4px; }
    .view-our-team .social_icons a:hover {
      background-position-y: -41px; }
.view-our-team .views-field-field-twitter a {
  background-position-x: -38px; }
.view-our-team .views-field-field-linked-in a {
  background-position-x: -143px; }
.view-our-team .views-field-field-google-plus a {
  background-position-x: -108px; }
.view-our-team .views-field-field-blogger a {
  background-position-x: -249px; }
.view-our-team .views-field-field-dribbble a {
  background-position-x: -284px; }
.view-our-team .views-field-field-pinterest a {
  background-position-x: -213px; }
.view-our-team .views-field-field-team-description {
  margin: 0.7em 0 1em 0; }
.view-our-team .views-field-title {
  margin-top: 1em; }
  .view-our-team .views-field-title a {
    font-size: 21px; }
.view-our-team .views-field-view-node {
  margin: 0.5em 0;
  text-align: center; }
.view-our-team .views-field-field-profile-image {
  position: relative;
  margin: 0 auto; }
  .view-our-team .views-field-field-profile-image img {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    padding: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: block; }

.group_social_icons {
  margin: 1em 0; }
  .group_social_icons .field {
    display: inline-block; }
  .group_social_icons a {
    display: block;
    width: 33px;
    height: 33px;
    margin-right: 1px;
    font-size: 0;
    text-indent: -100%;
    text-transform: uppercase;
    background: url(../images/team_social_icon.png) -3px -4px; }
    .group_social_icons a:hover {
      background-position-y: -41px; }
  .group_social_icons .field-name-field-twitter a {
    background-position-x: -38px; }
  .group_social_icons .field-name-field-linked-in a {
    background-position-x: -143px; }
  .group_social_icons .field-name-field-google-plus a {
    background-position-x: -108px; }
  .group_social_icons .field-name-field-blogger a {
    background-position-x: -249px; }
  .group_social_icons .field-name-field-pinterest a {
    background-position-x: -213px; }
  .group_social_icons .field-name-field-dribbble a {
    background-position-x: -284px; }

.field-name-field-designation {
  font-size: 1.5em;
  font-weight: bold; }

/*Portfolio*/
#portfolio-wrapper {
  background: #01d3b6 url(../images/speed-meter-portfolio.png);
  color: #FFF;
  background-size: 47%;
  margin-bottom: 20px; }

.portfolio {
  padding-top: 2em; }
  .portfolio .carousel-control {
    background: rgba(0, 0, 0, 0.69);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }
  .portfolio .left {
    left: 0; }
  .portfolio .right {
    right: 0; }

.nivo-directionNav a {
  top: 41%; }

.nivo-prevNav {
  font-size: 0;
  text-indent: -100%;
  text-transform: uppercase;
  width: 40px;
  height: 62px;
  background: url(../images/arrows.gif) left top; }
  .nivo-prevNav:hover {
    background-position: left bottom; }

.nivo-nextNav {
  font-size: 0;
  text-indent: -100%;
  text-transform: uppercase;
  width: 40px;
  height: 62px;
  background: url(../images/arrows.gif) right top; }
  .nivo-nextNav:hover {
    background-position: right bottom; }

.portfolio_description {
  text-align: left; }

.view-portfolio .views-row {
  float: left;
  width: 48%;
  position: relative;
  margin: 1%;
  border: 3px solid #d1d1d1;
  overflow: hidden; }
  .view-portfolio .views-row img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s; }
  .view-portfolio .views-row:hover {
    border-color: #e74c3c; }
    .view-portfolio .views-row:hover .views-field-view-node, .view-portfolio .views-row:hover .views-field-field-porfolio-image-1 {
      display: block; }
    .view-portfolio .views-row:hover .views-field-title {
      top: 15%;
      text-align: center;
      position: absolute;
      background: transparent;
      z-index: 99; }
    .view-portfolio .views-row:hover img {
      -webkit-transform: scale(5);
      -moz-transform: scale(5);
      -o-transform: scale(5);
      -ms-transform: scale(5);
      transform: scale(5); }
  .view-portfolio .views-row .views-field-title {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.74);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px; }
    .view-portfolio .views-row .views-field-title a {
      color: #999; }
  .view-portfolio .views-row .views-field-view-node {
    display: none;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.74);
    height: 100%;
    width: 100%; }
  .view-portfolio .views-row .views-field-field-porfolio-image-1 {
    display: none; }
  .view-portfolio .views-row .views-field-view-node a,
  .view-portfolio .views-row .views-field-field-porfolio-image-1 a {
    position: absolute;
    top: 60%;
    left: 38%;
    background: black url(../images/link.png) center 7px no-repeat;
    font-size: 0;
    width: 24px;
    height: 24px;
    margin-top: -22px;
    margin-left: -22px;
    padding: 20px;
    z-index: 999;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%; }
    .view-portfolio .views-row .views-field-view-node a:hover,
    .view-portfolio .views-row .views-field-field-porfolio-image-1 a:hover {
      background-color: #e74c3c; }
  .view-portfolio .views-row .views-field-field-porfolio-image-1 a {
    left: auto;
    right: 38%;
    background-position-y: -25px; }

.view-portfolio .three-coloumn {
  width: 31%; }

.view-portfolio .four-coloumn {
  width: 23%; }

.portfolio_image img {
  width: 100%; }

/*New Gallery*/
.views-quicksand {
  margin: 0; }

/*Icons*/
.icons ul {
  margin-left: 5px; }
.icons li {
  list-style: none;
  padding-left: 0;
  text-align: center;
  padding: 40px 0;
  border: 1px solid #dddddd;
  margin: 40px 0; }
  .icons li i {
    margin: 0 auto;
    font-size: 60px;
    display: block; }

.tbl-pricing {
  padding: 15px 0px; }
  .tbl-pricing .column {
    overflow: hidden;
    margin-bottom: 40px;
    background-color: #f6f6f6;
    border: 1px solid #dddddd; }
    .tbl-pricing .column ul {
      padding: 0px 20px; }
    .tbl-pricing .column li {
      list-style-type: none;
      padding: 10px 0px;
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid white;
      font-size: 13px;
      line-height: 20px; }
      .tbl-pricing .column li:first-child {
        border-top: 0px; }
      .tbl-pricing .column li:last-child {
        border-bottom: 0px; }
      .tbl-pricing .column li i {
        margin-right: 8px;
        color: #999; }
    .tbl-pricing .column.column-recommended {
      border-top: 2px solid #e74c3c;
      margin-top: -15px; }
    .tbl-pricing .column.column-recommended .tbl-header {
      background-color: #e02d00;
      padding-top: 28px;
      padding-bottom: 27px; }
    .tbl-pricing .column.column-recommended .tbl-footer {
      padding-top: 27px;
      padding-bottom: 33px; }
    .tbl-pricing .column.column-recommended h4 {
      border-color: #fff; }
  .tbl-pricing .tbl-header {
    text-align: center;
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    color: #FFF; }
    .tbl-pricing .tbl-header h4 {
      color: #FFF;
      padding-bottom: 15px;
      margin: 0px;
      border-bottom: 1px solid #444444;
      font-size: 18px;
      line-height: 24px; }
    .tbl-pricing .tbl-header p {
      margin: 0px;
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase; }
  .tbl-pricing .price {
    font-size: 36px;
    font-family: Ubuntu, Arial, sans-serif;
    color: #FFF;
    line-height: 42px;
    padding-top: 10px;
    margin-bottom: 10px; }
    .tbl-pricing .price sup {
      font-size: 20px;
      margin-left: 5px; }
  .tbl-pricing .tbl-footer {
    text-align: center;
    padding: 20px 20px 25px; }
    .tbl-pricing .tbl-footer .btn {
      display: block;
      padding: 10px 0px;
      line-height: 22px; }
      .tbl-pricing .tbl-footer .btn i {
        margin-right: 8px; }
      .tbl-pricing .tbl-footer .btn p {
        font-size: 10px;
        line-height: 14px;
        margin: 5px 0px 0px;
        text-transform: uppercase; }
  .tbl-pricing .money_back {
    padding: 10px;
    background: #DDD;
    color: #696969;
    text-align: center; }

/*Services*/
.services i {
  font-size: 42px;
  color: #999;
  text-align: center; }
.services .row-fluid p {
  text-align: center; }
.services h4 {
  text-align: center; }
.services .row-fluid {
  margin-bottom: 20px; }
.services .span4 {
  border: 1px solid #f0f0f0;
  padding: 20px 10px;
  margin-bottom: 20px;
  background: #FDFDFD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

/*Tabs*/
aside .dl-horizontal dt {
  width: 56px;
  float: left; }

aside .dl-horizontal dd {
  margin-left: 66px; }

.dl-horizontal {
  border-bottom: 1px dotted #dddddd; }
  .dl-horizontal:last-child {
    border: 0;
    margin: 0; }

/*Messages*/
div.error,
div.status,
div.warning {
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 12px 35px 14px 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: none; }

div.status {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6; }

div.warning {
  color: #C09853;
  background-color: #FCF8E3;
  border: 1px solid #fbeed5; }

/*Button*/
.page-user .page-title {
  display: none; }
.page-user .region-content {
  overflow: hidden;
  background: #FFF;
  background: -moz-linear-gradient(top, white, #f0f2f4 1px, white 50px);
  background: -webkit-gradient(linear, 0 0, 0 50, from(white), color-stop(2%, #f0f2f4), to(white)); }
.page-user #main_content {
  width: 350px;
  /*width: 650px;*/
  margin: 20px auto;
  border: 1px solid #d7dadf;
  float: none;
  display: block;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }
.page-user form {
  margin: 20px 0 0 0; }
.page-user .form-actions {
  margin-bottom: 0; }
.page-user .form-text {
  width: 100%;
  -moz-box-shadow: 0 0 0 2px #faf9f9, inset 0 0 5px 2px #faf9f9;
  -webkit-box-shadow: 0 0 0 2px #faf9f9, inset 0 0 5px 2px #faf9f9;
  box-shadow: 0 0 0 2px #faf9f9, inset 0 0 5px 2px #faf9f9; }
.page-user .form-item {
  padding: 0px 25px; }
.page-user .tabs {
  display: none;
  margin: 0;
  padding: 0;
  background: #3D3E41; }
  .page-user .tabs a {
    float: left;
    border: 0;
    margin: 0;
    padding: 12px 18px;
    color: #fff;
    border-right: 1px solid #666666;
    background-color: #3D3E41; }
  .page-user .tabs li.active a, .page-user .tabs li a:hover {
    background: #e74c3c;
    border: 0;
    color: #fff;
    border-right: 1px solid #666666; }

.page-user- #main_content {
  margin: 0;
  padding: 10px;
  float: right; }

.description {
  line-height: 120%; }

#search-wrapper {
  background: #DBE2E1; }

#search-form {
  background: #F5F5F5;
  padding: 10px;
  margin: 0;
  display: inline-block;
  border: 1px solid #dfdfdf; }
  #search-form #edit-keys {
    margin: 0 0 0 15px; }
  #search-form legend {
    font-size: 16px;
    border: 0; }

#block-search-form form {
  overflow: hidden;
  margin: 0; }
#block-search-form .container-inline {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.22);
  border: 0;
  margin: 20px auto;
  width: 55%;
  overflow: hidden; }
#block-search-form .form-item-search-block-form {
  float: left;
  margin: 0;
  width: 85%; }
#block-search-form .form-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 16px 15px;
  border: 1px solid #c9c7c7;
  background: #F1F1F1; }
#block-search-form .form-actions {
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
  width: 15%;
  background: transparent; }
#block-search-form .form-submit {
  color: #FFF;
  background: #e74c3c;
  border: 0;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0;
  width: 100%;
  padding: 0px 5%;
  font-size: 17px;
  font-weight: bold;
  height: 33px; }
  #block-search-form .form-submit:hover {
    background: #e02d00; }

/*Contact*/
.region-contact-map iframe {
  width: 100%;
  height: 385px;
  border: 3px solid #dddddd; }

.page-contact .page_title_wrapper {
  border: 0; }
.page-contact #map {
  display: none; }
.page-contact #main_content {
  float: left;
  width: 35% !important; }
.page-contact .region-contact-map {
  float: right;
  width: 38%;
  margin-top: 62px; }

#contact-site-form {
  margin: 0; }
  #contact-site-form .form-text {
    width: 97%; }
  #contact-site-form .form-actions {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0);
    border: 0; }
  #contact-site-form #edit-copy {
    float: left;
    margin-right: 8px; }

#edit-preview, #edit-cancel {
  margin-left: 10px; }

/*Clients*/
#clients-wrapper {
  background: #F5F5F5;
  border-bottom: 1px solid #e1e1e1; }
  #clients-wrapper .thumbnail {
    border: 0;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  #clients-wrapper .carousel {
    margin: 20px 0 0px 0; }

.region-clients .thumbnails > li {
  margin-bottom: 2px; }
.region-clients .thumbnail > img {
  opacity: 1; }
.region-clients .thumbnail > img:hover {
  opacity: .8; }

/*Button*/
.default_btn {
  color: #ffffff;
  background: #e74c3c;
  border: 0;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .default_btn a {
    color: #fff; }

.default_btn:hover,
.default_btn:focus,
.default_btn:active,
.default_btn.active,
.default_btn.disabled,
.default_btn[disabled] {
  color: #ffffff;
  background-color: #e02d00; }

.default_btn:active,
.default_btn.active {
  background-color: #e02d00; }

/*Testimonials*/
.view-testmonials .views-row {
  margin-bottom: 50px; }
.view-testmonials .views-field-body {
  border: 1px solid #e5e5e5;
  background-color: #FDFDFD;
  padding: 13px;
  position: relative;
  margin-bottom: 30px; }
  .view-testmonials .views-field-body:before {
    content: '';
    border-top: 20px solid #e5e5e5;
    border-right: 16px solid rgba(0, 0, 0, 0);
    position: absolute;
    left: 47px;
    bottom: -21px; }
  .view-testmonials .views-field-body:after {
    content: '';
    border-top: 20px solid #fdfdfd;
    border-right: 15px solid rgba(0, 0, 0, 0);
    position: absolute;
    left: 48px;
    bottom: -19px; }

.views-field-field-testimonial-profile-image {
  float: left;
  margin-right: 10px; }
  .views-field-field-testimonial-profile-image img {
    width: 40px;
    height: 40px; }

.views-field-field-testimonials-author-name {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 2px; }

.node-testimonials {
  clear: both; }
  .node-testimonials .field {
    margin: 10px 0; }

/*Article*/
.group_article_row_fluid {
  clear: both; }

.node-article img {
  border: 5px solid #d1d1d1;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s; }
  .node-article img:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); }

.group_left_article {
  overflow: hidden; }

/*Comment*/
.comment-form {
  width: 60%; }
  .comment-form .form-text {
    width: 98%; }
  .comment-form .field-widget-text-textarea {
    width: 100%; }
  .comment-form .filter-wrapper {
    border: 1px solid #cccccc; }

/*Gallery*/
.page-gallery .view li {
  list-style: none;
  display: inline-block;
  margin: 0;
  width: 20%;
  overflow: hidden;
  float: left;
  position: relative; }
  .page-gallery .view li img {
    margin: 1px;
    -webkit-filter: blur(0px);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; }
    .page-gallery .view li img:hover {
      -webkit-filter: blur(5px); }
.page-gallery .view .views-field-field-gallery-image-1 a {
  position: absolute;
  bottom: 1px;
  right: 0;
  background: #e74c3c url(../images/link.png) center -25px no-repeat;
  font-size: 0;
  width: 24px;
  height: 24px;
  margin-top: -22px;
  margin-left: -22px;
  padding: 20px;
  z-index: 999; }
  .page-gallery .view .views-field-field-gallery-image-1 a img {
    display: none; }

#block-flux-slider-flux-slider .fluxslider {
  max-width: 100% !important; }
#block-flux-slider-flux-slider .image1 {
  background-size: 100% !important; }

/*Admin*/
#block-menu-menu-web-admin .menu a {
  background: url(../images/plus.png) left center no-repeat;
  padding-left: 22px; }
  #block-menu-menu-web-admin .menu a:hover {
    color: #000; }
