/**
 * Place your custom styles here.
 */
#title1
{
	/*font-family: "Times New Roman", Times, serif;*/
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}
#tagg
{
	font-size: 20px;
	padding-right: 2px;
}
#navbar-collapse
{
	padding-right: 8px;
}
#foot1{ 
	background-color: #222;
	color:#fff;

/*vertical-align: middle;*/
height:80%; }

.footer
{
	padding-top: 0px;
	padding-bottom: 0px;
    max-width:100%;